In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("ml-cleaned.txt", sep="\t")

In [3]:
newDF = pd.DataFrame(data["hero"])

In [4]:
months = ["May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar", "Apr"]

for month in months:
    newDFMonth = pd.Series([0] * len(data))
    for column in list(data.columns):
        if column.startswith(month):
            newDFMonth += data[column]
    newDF[month] = newDFMonth

In [7]:
newDF["total"] = newDF.sum(axis=1)

In [10]:
newDF[["hero", "total"]].to_csv("hero-total-popularity.txt", sep="\t", index=False)

In [30]:
pd.Series([0] * 81) + data["May-1st"]

0      12
1      18
2      18
3      25
4       0
5       0
6       0
7       7
8      23
9       0
10     21
11     12
12    118
13     34
14     15
15     18
16      0
17      0
18     67
19     53
20     71
21     49
22      0
23      0
24     12
25      0
26      0
27      0
28      0
29      0
     ...
51      6
52     23
53    205
54      0
55     50
56     76
57     66
58      0
59      0
60      0
61      0
62      0
63     17
64     18
65      0
66     44
67     33
68     27
69     46
70      0
71      0
72     11
73      3
74      0
75      0
76      0
77      0
78      0
79      0
80      0
dtype: int64

In [26]:
list(data.columns)

['hero',
 'May-1st',
 'May-2nd',
 'May-3rd',
 'May-4th',
 'Jun-1st',
 'Jun-2nd',
 'Jun-3rd',
 'Jun-4th',
 'Jul-1st',
 'Jul-2nd',
 'Jul-3rd',
 'Jul-4th',
 'Aug-1st',
 'Aug-2nd',
 'Aug-3rd',
 'Aug-4th',
 'Sep-1st',
 'Sep-2nd',
 'Sep-3rd',
 'Sep-4th',
 'Oct-1st',
 'Oct-2nd',
 'Oct-3rd',
 'Oct-4th',
 'Nov-1st',
 'Nov-2nd',
 'Nov-3rd',
 'Nov-4th',
 'Dec-1st',
 'Dec-2nd',
 'Dec-3rd',
 'Dec-4th',
 'Jan-1st',
 'Jan-2nd',
 'Jan-3rd',
 'Jan-4th',
 'Feb-1st',
 'Feb-2nd',
 'Feb-3rd',
 'Feb-4th',
 'Mar-1st',
 'Mar-2nd',
 'Mar-3rd',
 'Mar-4th',
 'Apr-1st',
 'Apr-2nd',
 'Apr-3rd',
 'Apr-4th']